/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #28a745; /* Color verde para el h1 */
    margin-bottom: 20px; /* Espacio abajo del h1 */
}
h2 {
    color: #007bff; /* Color azul para los h2 */
    margin-bottom: 15px; /* Espacio abajo del h2 */
}
h3 {
    color: #333; /* Color gris para los h3 */
    margin-bottom: 15px; /* Espacio abajo de h3 */
}
/* Estilos para los botones */
.button {
    display: inline-block;
    background-color: #28a745; /* Color verde para los botones */
    color: white; /* Color blanco para el texto del botón */
    padding: 12px 20px; /* Tamaño mediano */
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    margin: 10px 0; /* Margen para separación */
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}
.button:hover {
    background-color: #218838; /* Cambio de color cuando el botón es hover */
    color: white; /* Asegura que el texto sea blanco también cuando está en hover */
}
/* Estilos para los videos */
iframe {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}
/* Estilos de la página y secciones */
.course-section {
    margin-bottom: 30px;
}
/* Estilos para la separación de clases */
h3, h2 {
    margin-top: 30px;
}
