/* Reset para márgenes y paddings por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Estilos para todo el contenido */
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #f4f4f4;
}

/* Encabezado principal */
header {
    background-color: #3c763d; /* Verde */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

/* Secciones principales */
section {
    padding: 20px;
    min-height: 100vh; /* Asegura que cada sección ocupe toda la pantalla */
    background-color: #fff;
    margin-bottom: 20px;
}

/* Títulos de las secciones */
h2 {
    color: #007bff; /* Azul */
    font-size: 2em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin-top: 15px;
}

/* Botones de enlaces */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745; /* Verde */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.btn:hover {
    background-color: #218838; /* Verde oscuro */
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsividad para móviles */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    .btn {
        padding: 8px 15px;
        font-size: 1em;
    }
}
